APP_ENV=testing
APP_KEY=base64:HErhrDhbXYMgoViH64SprwS9BbankiGw0zLQebinliA=

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=notifications_test
DB_USERNAME=laravel
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

QUEUE_CONNECTION=sync
CACHE_STORE=array
